<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <appender name="SERVER" class="ch.qos.logback.core.FileAppender">
    <file>newsreader_server.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="SERVER" />
  </root>
</configuration>