<div class="news-article">
    <div class="news-title">
        <div class="date" th:text="${updated}"></div>
        <div class="title">
            <a th:href="${link}" alt="Original Artikel aufrufen." title="Original Artikel aufrufen." th:text="${title}"></a>
        </div>
    </div>
    <div class="news-image">
        <div class="image"><img th:src="${imageSource}" th:alt="${imageTitle}"/></div>
        <div class="caption"th:text="${imageCaption}"></div>
    </div>
    <div class="news-summary" th:text="${summary}"></div>
    <div class="news-html" th:text="${html}"></div>
</div>
