<html xmlns:th="http://www.thymeleaf.org" th:lang="${language}">
    <body>

        <!--
        Form buttons for
        - hide all read items switch
        - mark all read button
        - mark all unread button
        -->
        <div id="feedtitle-buttons" th:fragment="buttons">
            <form id="formHideRead" th:action="${formPath}" method="POST">
                <div class="container">
                    <span class="label">Gelesene verstecken</span>
                    <label class="switch">
                        <input type="checkbox" name="hideRead" value="true" th:checked="${hideRead}">
                        <span class="slider" onclick="javascript:formHideRead.submit();"></span>
                    </label>
                </div>
            </form>
            <form id="formMarkAllRead" th:action="'/formMarkAllRead/' + ${path}" method="POST">
                <button type="submit" id="markAllRead" name="markAllRead" value="true">Alle gelesen</button>
                <button type="submit" id="markAllUnread" name="markAllUnread" value="true">Alle ungelesen</button>
                <input type="hidden" name="hideRead" th:value="${hideRead}">
            </form>
        </div>

        <!--
        Page header when a single or multi feed is shown.
        -->
        <div id="feedtitle" th:fragment="feedTitle">
            <div id="feedtitle-path">
                <th:block th:if="${isFeedTitleLink}">
                    <a th:fragment="feedTitleLink" class="title" th:href="${feedLink}" alt="Webseite besuchen" title="Webseite besuchen" target="_blank" th:text="${feedTitle}"></a>
                </th:block>
                <th:block th:unless="${isFeedTitleLink}">
                    <span th:fragment="feedTitlePath" th:text="${pathText}"></span>
                </th:block>
            </div>
            <div id="feedtitle-title" th:utext="${feedtitleTitle}"></div>
            <div id="feedtitle-date" th:text="${feedtitleDate}"></div>
        </div>

        <!--
        Page header when a single article is shown.
        -->
        <div id="feedtitle" th:fragment="articleTitle">
            <div id="feedtitle-path"><a class="title" th:href="${path}" alt="Zurück zum Feed" title="Zurück zum Feed" th:text="${pathText}"></a><span class="feedName" th:text="${feedName}"></span></div>
            <div id="feedtitle-title"><a class="title" th:href="${itemLink}" alt="Original Artikel aufrufen." title="Original Artikel aufrufen." target="_blank" th:text="${itemTitle}"></a></div>
            <div id="feedtitle-date" th:text="${feedtitleDate}"></div>
        </div>

        <!--
        Reusable new item
        -->
        <th:block th:fragment="newsFeedItem (newsItem)">
            <div class="news-title">
                <div th:if="${isMultiFeed}" class="feedName" th:text="${newsItem.feedName}"></div>
                <div class="date" th:text="${newsItem.updated}"></div>
                <div class="title"><a class="title" th:href="${newsItem.path}" alt="Artikel text abrufen." title="Artikel text abrufen." th:text="${newsItem.title}"></a></div>
            </div>
            <th:block th:if="${newsItem.hasImage}">
                <div th:replace="~{fragments :: newsItemImage (newsItem=${newsItem})}"></div>
            </th:block>
            <div th:if="${isArticle}" class="media-buttons">
                <a th:if="${newsItem.hasAudio}" class="audio" th:href="${newsItem.audioUrl}" alt="Audio abspielen" title="Audio abspielen" target="_blank">Audio</a>
                <a th:if="${newsItem.hasVideo}" class="video" th:href="${newsItem.videoUrl}" alt="Video abspielen" title="Video abspielen" target="_blank">Video</a>
            </div>
            <div class="news-summary" th:text="${newsItem.summary}"></div>
            <div th:if="${isArticle}" class="news-html" th:utext="${newsItem.html}"></div>
        </th:block>

        <!--
        News item image (if any)
        -->
        <div th:fragment="newsItemImage (newsItem)" class="news-image">
            <div class="image">
                <img th:src="${newsItem.imageUrl}" th:alt="${newsItem.imageTitle}" th:title="${newsItem.imageTitle}"/>
                <div class="glasspane"></div>
            </div>
            <div th:if="${isArticle}" class="caption" th:text="${newsItem.imageCaption}"></div>
        </div>
    </body>
</html>